altair==5.2.0
langchain==0.0.351
networkx==3.1
openai==0.27.7
pandas==2.0.0
Pillow==10.1.0
plotly==5.13.1
pydeck==0.8.0
python_igraph==0.11.3
pyvis==0.3.2
streamlit==1.27.2
streamlit_plotly_events==0.0.6
